<div class='top-bar'> 
    </div>

    <div class='nav-bar'>
        
    </div>

    <div class='main-section'>
        <main class='to-center'>
            <!--Bigger section block that has a quick message and a couple of links to create an account or explore subjects-->
            <h4>Uh oh! It seems we were unable to create your account...</h4>

            <p>Error: {{error}}</p>

        <div class='bear-pic'>
            <img src="/img/bearysorry.jpg" alt="picture of bear sticking its tongue out" width="300px" height="200px">
        </div>

        <br>

        <h6>Click <a href="/">here</a> to go back to the homepage and try again</h6>

        </main>
    </div>

    <div class='other-links'>
        *Insert other medical school and MCAT related links*
    </div>