<div class='top-bar'> 
    <a class='back-subj' href="/subjects"><button class="btn-primary move-down">Back to Subjects</button></a>
    <a class='back-subj' href="/"><button class="btn-primary move-down">Home</button></a>
</div>

<div class='main-section'>
    <div class="to-center">
        <h4> {{subjectname}} Facts </h4>
        <button id='add-fact' class="to-center">Add Fact</button>
        <div>
            
        </div>
     </div>

    <main>
        <div class="fact-list">
            <ul id="fact-list">
                {{#each facts}}
                    <div class="fact-box fact-score">
                        <div class="fact-info"><li>{{this.info}}</li></div>
                        <div class='score'>10</div>
                    </div>
                {{/each}}
            </ul>
            <br>
        </div>
    
    </main>
    
</div>

<div class="modal">
    <div class="modal-content">
        <h4>Add a  Fact</h4><br>
        Fact: <input type="text" id="new-fact" value=""><br><br>
        <span>
            <input type="button" id="create-fact" value="Add">&nbsp;&nbsp;&nbsp;
            <input type="button" id="cancel" value="Cancel">
            <input type="hidden" id="subject" value='{{subject}}'>
        </span>
    </div>
</div>

<div class="modal2">
    <div class="modal2-content">
        <h4>Score this Fact</h4>
        <h6>Based on its importance</h6>
        <select class="form-control" id="">
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
        <br>
        <span>
            <input type="submit" value="Add Score">
            <input type="button" id="cancel2" value="Cancel">
        </span>
    </div>
</div>

<div class='other-links'>
    *Insert other medical school and MCAT related links*
</div>