<div class='sign-in'>
    <div class='top-bar'> 
    </div>
    <form action="/sign-in" method="POST" class="to-center">
        <h4 class='to-center'>Sign into your account</h4><br><br>
        username: <input type="text" name="username"><br><br>
        password: <input type="text" name="password"><br><br>
        <input type="submit" value="Sign in">
    </form>

    <div class='errors'>
        {{#if err}}
        <span class='error-message'>Error: {{message}}</span>
        {{/if}}
    </div>

</div>