<div class='top-bar'> 
    <button id='add-subject' >Add Subject</button>
</div>

<div class='main-section'>
    <main class='to-center'>
        <div class="subject-list">
            <ul>
                {{#each subjects}}
                <li>{{this.name}}</li>
                {{/each}}
            </ul>
        </div>
    
    </main>
</div>

<div class="modal">
    <div class="modal-content">
        <h4>Add a  Subject</h4><br>
        Subject Name: <input type="text" id="new-subject" value=""><br><br>
        <span>
            <input type="button" id="create-subject" value="Add">&nbsp;&nbsp;&nbsp;
            <input type="button" id="cancel" value="Cancel">
        </span>
    </div>
</div>

<div class='other-links'>
    *Insert other medical school and MCAT related links*
</div>