<div class='top-bar'> 
    <button class="btn-primary move-down" id="show-site-list">Site Subjects</button>
    <button class="btn-primary move-down" id="show-user-list">User Subjects</button>
    <a class='back-subj' href="/"><button class="btn-primary move-down">Home</button></a>
</div>

<div class='main-section'>
    <div id='site-list'>
        <main class='to-center'>
            <br>
            <ul id='site-subject-list'>
                {{#each subjects}}
                <!--Only display site subjects-->
                    {{#if this.site}}
                      <!--  <div class="subject-box">-->
                            <a class="sub-link" href="/{{this.slug}}"><div class="subject-box"><li>{{this.name}}</li></div></a>
                        <!--</div>-->
                    {{/if}}
                {{/each}}
            </ul>
            <br>
        </main>
    </div>

    <div id='user-list'>
        <main class='to-center'>
                <button id='add-subject'>Add Subject</button>
            <br>
            <ul id='user-subject-list'>
                {{#each subjects}}
                <!--Only display user subjects-->
                    {{#if this.user}}
                         <!--  <div class="subject-box">-->
                            <a class="sub-link" href="/{{this.slug}}"><div class="subject-box"><li>{{this.name}}</li></div></a>
                        <!--</div>-->
                    {{/if}}
                {{/each}}
            </ul>
            <br>
        </main>
         
    </div>

   
</div>



<div class="modal">
    <div class="modal-content">
        <h4>Add a  Subject</h4><br>
        Subject Name: <input type="text" id="new-subject" value=""><br><br>
        <span>
            <input type="button" id="create-subject" value="Add">&nbsp;&nbsp;&nbsp;
            <input type="button" id="cancel" value="Cancel">
        </span>
    </div>
</div>

<div class='other-links'>
    *Insert other medical school and MCAT related links*
</div>