<div class='top-bar'> 
</div>

<div class='nav-bar'>
    <nav>
        <button type='button' class='nav-button'>Subjects</button>
    </nav>
</div>

<div class='main-section'>
    <main class='to-center'>
    
    </main>
</div>

<div class='other-links'>
    *Insert other medical school and MCAT related links*
</div>